@model CRUD.Models.Cliente

@{
    ViewBag.Title = "Details";
}
<div class="conteudo">
    <h2>Detalhes</h2>

    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.endereco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.endereco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefone)
            </dd>

        </dl>
    </div>


    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idCliente }) |
        @Html.ActionLink("De volta à lista", "Index", "Home")
    </p>
</div>